
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>This is ejs shit</title>
 	
	 
	 
</head>
<body>















      <div>
		  
      
      <table class="table">
			<thead>
			<th> Name </th>
      <th>Father's Name </th>
      <th>Email</th>
      <th> Password </th>
      <th>Birth Date </th>
      
   
      
			</thead>
			<tbody>
			
					<tr>
         
						<td> <%- data[0].userName %>  </td>
						<td> <%- data[0].fatherName %> </td>
						<td> <%- data[0].email %> </td>
						<td> <%- data[0].Password %> </td>
            <td> <%- data[0].day %>-<%- data[0].month %>-<%- data[0].year %> </td>
							
					</tr>
				
				
			</tbody>
			
		</table>
      
      
	  </div>











	   
</body>
</html>